@model List<Repository>
@{
    ViewData["Title"] = "Pesquisa - ";
}
@section Styles {
    <link href="@Url.Content("~/css/repository.css")" rel="stylesheet" type="text/css" />
}
<div class="text-center">
    <form action="/repository" method="get">
        <label>Buscar Repositórios</label>
        <input class="search-txt" name="search" type="text" placeholder="Nome do repositório..." />
        <button type="submit" class="fas fa-search"></i></button>
    </form>

    @if (Model == null)
    {
        <span>sim piranha, ele é nulo</span>
    }
    else
    {
        if (Model.Count() == 0)
        {
            <span>Não foram encontrados repositórios com este nome.</span>
        }
        else
        {
            foreach (var repository in Model)
            {
                <br>@repository.Name
            }
        }
    }
</div>