<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]repoAPI</title>
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <header>
        <a class="logo" asp-controller="Home" asp-action="Index">repoAPI</a>
        <nav>
            <ul class="nav-links">
                <li>
                    <a asp-controller="Profile" asp-action="Index">Perfil</a>
                </li>
                <li>
                    <a asp-controller="Favourite" asp-action="Index">Favoritos</a>
                </li>
            </ul>
            <form class="search-box" action="/repository" method="get">
                <input class="search-txt" name="search" type="text" placeholder="Digite para pesquisar..." />
                <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
            </form>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <text>2020 - repoAPI</text>
        <text>Criado por Fellipe Sena</text>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
