<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]repoAPI</title>
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <a class="logo" asp-controller="Home" asp-action="Index">repoAPI</a>
        <nav>
            <ul class="nav-links">
                <li>
                    <a asp-controller="Profile" asp-action="Index">Perfil</a>
                </li>
                <li>
                    <a asp-controller="Favourite" asp-action="Index">Repositórios</a>
                </li>
            </ul>
        </nav>

        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - repoAPI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
